@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BASGRUPP 1</h1>
    <p class="lead">Hej. Här är skatten.</p>
    <p><a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" class="btn btn-primary btn-lg">About us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resan</h2>
        <p>
            Skriv bara något CS jag är faceitlvl 10
            torsten e bäst i cs!
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=jqCSsgmuAgM&t=11s">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blommor och bin</h2>
        <p>
            Du lilla blomma med färg och liv
            När jag ser dig, vet jag att det är sommar
            Du vackra röda löv
            När jag ser dig, vet jag att det är höst
            Du gnistrande gran
            När jag ser dig, vet jag att det är vinter
            Du kalla bäck med smältande is
            När jag ser dig, vet jag att det är vår

            Du lilla fågel, jag älskar ditt kvitter
            När jag ser dig blir jag glad
            Du lilla katt som går längs trottoaren
            När jag ser dig, vill jag ta dig hem
            Du lilla bebis som sover i vagnen
            När jag ser dig vill jag ha en egen
        </p>
        <p><a class="btn btn-default" href="http://www.flowerpowerfoundation.org/flower-bouquets-and-the-right-steps-for-you/">Learn more &raquo;</a></p>
    </div>
</div>